/* Colors and fonts */
body {
	background: #f1f3f8;
	color: #0E131F;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Raleway',
	font-size: 35px;
	letter-spacing: 3px;
	color: #145374;
	font-weight: bold;
}


a {
	color: #84a9ac;
	text-decoration: none;
	transition: color 0.3sease;
	font-weight: bold;
}

a:hover {
	color: #3b6978;
	text-decoration: none;
	font-weight: bold;
}


div {
    background: white;
    padding: 60px;
    margin: 50px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 5px;
}


h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
	color: #B4869F;
}


/* Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0;
}

.img-circle {
	border-radius: 100px;
}

.btn-blue {
	background-color: #5588a3;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: #145374;
	color: white;
}

.line-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i{
	font-size: 50px;
	color: #5588a3;
}

.list-inline i:hover {
	font-size: 50px;
	color: #145374;
}

.division-center {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0;
	text-align: center;
}

.logo-center {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0;
	text-align: center;
}




/* Design adjustements with id(1% design remaining) */

#imagesize {
	width: 180px;
	height: 190px;
}

#introduction p {
	margin-bottom: 40px;
}
